@import "tailwindcss";

.action_btn {
    @apply bg-[#3B19FF] hover:opacity-90 active:opacity-80 text-gray-100 text-lg font-medium p-3
}

.dialog_btn {
    @apply
    flex flex-row gap-1
    bg-blue-200 border-2
    border-blue-500
    rounded-md
    hover:opacity-90
    active:opacity-80
    text-lg
    font-bold
    p-4

}


.border {
    @apply p-4 rounded-4xl bg-[#F8F6FF] border-0 hover:opacity-70
}

.link {
    @apply hover:bg-gray-100 p-3
}

.input {
    @apply
    bg-[#D9D9D9]
    p-4
    w-full
    focus:outline-0
    hover:bg-[#D9D9D9]/90
}

.lesson {
    @apply
    bg-[#3B19FF]
    text-white
    rounded-lg
    w-25 h-25
    flex
    items-center
    justify-center
    no-underline
    text-3xl
    font-bold
    hover:opacity-90
    active:opacity-85

}

.border-big {
    @apply
    bg-[#3B19FF]
    text-white
    rounded-xl
    flex
    no-underline
    text-xl
    hover:opacity-90
}