@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prosto+One&display=swap');

@import "tailwindcss";


@theme {
    --font-mono: "Druk Wide Cyr" ;
    --font-prosto: "Arial" sans-serif ;
}


.action_btn {
    @apply bg-[#3B19FF] hover:opacity-90 active:opacity-80 text-gray-100 text-lg font-medium p-3
}

.border {
    @apply p-4 rounded-4xl bg-[#F8F6FF] border-0
}

.link {
    @apply hover:bg-gray-100 p-3
}

.input {
    @apply
    bg-[#D9D9D9]
    p-4
    w-full
    focus:outline-0
    hover:bg-[#D9D9D9]/90
}