@import "tailwindcss";


@font-face {
    font-family: "Prosto One";
    src: url("fonts/ProstoOne-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zed";
    src: url("fonts/zed-sans-extended.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-mono: "Druk Wide Cyr" ;
    --font-prosto: "Prosto One", sans-serif;
    --font-zed: "Zed"
}


.action_btn {
    @apply bg-[#3B19FF] hover:opacity-90 active:opacity-80 text-gray-100 text-lg font-medium p-3
}

.border {
    @apply p-4 rounded-4xl bg-[#F8F6FF] border-0
}

.link {
    @apply hover:bg-gray-100 p-3
}

.input {
    @apply
    bg-[#D9D9D9]
    font-prosto
    p-4
    w-full
    focus:outline-0
    hover:bg-[#D9D9D9]/90
}

.lesson {
    @apply
    bg-[#3B19FF]
    font-prosto
    text-white
    rounded-lg
    w-25 h-25
    flex
    items-center
    justify-center
    no-underline
    text-3xl
    font-bold
    hover:opacity-90
    active:opacity-85

}

.border-mini {
    @apply
    bg-[#3B19FF]
    p-12
    font-prosto
    text-white
    rounded-xl
    flex
    no-underline
    text-xl
    hover:opacity-90
    active:opacity-85

}