@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import "tailwindcss";

@font-face {
    font-family: "Prosto One";
    src: url("/public/fonts/ProstoOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Druk Wide Cyr";
    src: url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.eot");
    src: url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.svg#Druk Wide Cyr")format("svg");
}

@font-face {
    font-family: 'Alata';
    src: url('/public/fonts/alata-v12-latin-regular.eot');
    src: url('/public/fonts/alata-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/alata-v12-latin-regular.woff2') format('woff2'),
    url('/public/fonts/alata-v12-latin-regular.woff') format('woff'),
    url('/public/fonts/alata-v12-latin-regular.ttf') format('truetype'),
    url('/public/fonts/alata-v12-latin-regular.svg#Alata') format('svg');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}


@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, serif;
    --font-mono: 'Druk Wide Cyr';

    --font-oswald: 'Oswald', sans-serif;
    --font-alata: 'Alata', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-capriola: 'Capriola' sans-serif;
    --font-prosto: 'Arial' sans-serif;
}